/* css styles */
.body{ font-size:85%}
.justify {
  text-align: justify !important
  font-size: 75%;
}

.about-contents {
  flex-grow: 3 !important;
  flex-shrink: 0 !important;
  flex-basis: 80% !important;
  font-size: 100%;
}

